.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    margin-top: 2rem;
}

.hero__img{
    height: 12rem;
    width: 12rem;
    border-radius: 20%;
}

.hero__subtitle{
    color: var(--clr-slate800);
    font-size: var(--size-base);
    line-height: 1.3;
}

.hero__title{
    text-transform: uppercase;
    color: var(--clr-slate400);
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
    
}

.hero__description{
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-slate600);
}

.hero__btn{
    text-transform: capitalize;
    font-size: var(--size-s);
}


/* xs screens*/
@media(min-width: 475px){
    .hero{
        gap:1.5rem;
        margin-top: 2rem;
    }
    
    .hero__img{
        height: 10.5rem;
        width: 10.5rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-lg);
    }
    
    .hero__title{
        font-size: var(--size-5xl);
    }
    
    .hero__description{
        font-size: var(--size-base);
       
    }
    
    .hero__btn{
        font-size: var(--size-base);
    } 
}

/* sm screens*/
/* @media(min-width: 640px){
 
} */

/* md screens*/
/* @media(min-width: 768px){
   
}  */

/* lg screens*/
@media(min-width: 1024px){
    
    .hero__img{
        height: 13.5rem;
        width: 13.5rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-2xl);
    }
    
    .hero__title{
        font-size: var(--size-7xl);
    }
    
    .hero__description{
        font-size: var(--size-lg);
       
    }
    
    .hero__btn{
        font-size: var(--size-lg);
    }
}

/* xl screens*/
@media(min-width: 1280px){
    .hero{
        gap: 2rem;
    }
    
    .hero__img{
        height: 14.5rem;
        width: 14.5rem;
    }
    
    .hero__subtitle{
        font-size: var(--size-4xl);
    }
    
    .hero__title{
        font-size: var(--size-6xl);
    }
    
    .hero__description{
        font-size: var(--size-xl);
       
    }
    
    .hero__btn{
        font-size: var(--size-xl);
    }
}

/* 2xl screens*/
/* @media(min-width: 1536px){
  
}  */
