/* xs screens*/
/* @media(min-width: 475px){
   
} */

/* sm screens*/
/* @media(min-width: 640px){
 
} */

/* md screens*/
/* @media(min-width: 768px){
   
}  */

/* lg screens*/
/* @media(min-width: 1024){
  
} */

/* xl screens*/
/* @media(min-width: 1280px){
} */

/* 2xl screens*/
/* @media(min-width: 1536px){
  
}  */



.btn{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    transition: transform 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: solid red 1px; */
}

.section{
    margin-top: 5rem;
}


/* xs screens*/
@media(min-width: 475px){
    .container{
        max-width: 475px;
    }
}

/* sm screens*/
@media(min-width: 640px){
    .container{
        max-width: 640px;
    }
}

/* md screens*/
@media(min-width: 768px){
    .container{
        max-width: 768px;
    }
} 

/* lg screens*/
@media(min-width: 1024){
    .container{
        max-width: 1024px;
    }

    .section{
        margin-top: 10rem;
    }
}

/* xl screens*/
@media(min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/* 2xl screens*/
@media(min-width: 1536px){
    .container{
        max-width: 1536px;
    }
} 
